@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bilete Ieftine</h1>
    <p class="lead">Tema 2 - Medii si Tehnologii de Programare</p>
    <p>Student - Botezatu David - Informatica ID</p>
</div>