@model GestiuneBileteAvion.Models.Bilet

@{
    ViewBag.Title = Model.LoculPlecarii + " - " + Model.LoculSosirii;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@String.Format(Model.LoculPlecarii + " - " + Model.LoculSosirii)</h2>

<ul>
    <li><b>ID</b>: @Model.Id</li>
    <li><b>Data</b>: @Model.DataPlecarii</li>
    <li><b>Pret</b>: @Model.Pret</li>
</ul>