@model IEnumerable<GestiuneBileteAvion.Models.Bilet>
@{
    ViewBag.Title = "Bilete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bilete</h2>

<p>
    @Html.ActionLink("Adauga Bilet", "BiletNou", "Bilet", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>Nu exista nici un bilet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ruta</th>
                <th>Data</th>
                <th>Pret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bilet in Model)
            {
                <tr>
                    <td>@Html.ActionLink(bilet.LoculPlecarii + " - " + bilet.LoculSosirii, "EditareBilet", "Bilet", new { id = bilet.Id }, null)</td>
                    <td>@bilet.DataPlecariiShort</td>
                    <td>@bilet.Pret</td>
                </tr>
            }
        </tbody>
    </table>
}